*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}

#audio{
    position: absolute;
    display: block;
    margin: 50px auto;
    display: block;
    z-index: 200;
}

#canvas{
    position: absolute;
    bottom: 0;
}

#fileupload{
    z-index: 99;
    position: absolute;
    color: white;
}